body {
  background-color: #f5f5f5;
}
ul {
  background-color: #1a1a1a;
  height: 60px;
  width: 130%;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
float: left;
}
a {
  color: white;
  position: relative;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.judul {
  column-span: all;
}
.paragraf {
  column-count: 4;
  column-rule: 2px solid black;
  font-size: 12px;
  text-align: justify;
  column-fill: balance;
}
.induk {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
  border: ridge;
  padding-left: 15px;
  width: 127%;
  padding-right: 15px;
  margin-right: 0;
}
.footer {
  width: 130%;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 10px;
  height: 40px;
}
